<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/plugins/pace.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/dataTables.bootstrap.min.js"></script>
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-lg-6">
                    <h2>发布课题信息</h2>
                    <form action="/pj/addProject" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <input type="hidden" name="path" th:value="${projectFile['path']}">
                            <label class="control-label" for="readOnlyInput">课题名称</label>
                            <input class="form-control" id="readOnlyInput" type="text" name="filename" th:value="${projectFile['filename']}" readonly="">

                            <label class="col-form-label" for="inputDefault">需要技术</label>
                            <input class="form-control" id="inputDefault" type="text" name="need">

                            <label class="col-form-label" for="inputDefault">提交工号</label>
                            <input class="form-control" id="inputDefault" type="text" name="submitId" th:value="${projectFile['submitId']}">
                        </div>
                        <div class="tile-footer">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>