<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.3.1.min.js"></script>
    <title>Title</title>
</head>
<body>
<form id="loginForm" action="/login">
    <input type="text" name="sid" placeholder="sid"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="button" value="123" id="login">
</form>
<script type="text/javascript">
    $("#login").click(function () {
        var reg = /^[1-9][0-9]+$/gi;
        console.log(reg.test("123"));
        console.log(reg.test("adasd"));
        console.log(reg.test("   1213"))

       // var reqUrl = $("#loginForm").attr("action");
       // var reqParams = $("#loginForm").serialize();
       // $.post(reqUrl, reqParams, function (data) {
       //      if ($.trim(data) == $.trim("/student/student_index")){
       //          window.location.replace("/stuIndex");
       //      }else {
       //          alert("error")
       //      }
       //
       // });
    });
</script>
</body>
</html>