<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/plugins/pace.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/dataTables.bootstrap.min.js"></script>
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>班级编号</th>
                                <th>班级名称</th>
                                <th>指导教师</th>
                                <th>学生学号</th>
                                <th>学生姓名</th>
                                <th>专业</th>
                                <th>课题</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${datas}">
                                <th th:text="${data['class'].classid}"/>
                                <th th:text="${data['class'].classname}"/>
                                <th th:text="${data['teacher'].teachername}"/>
                                <td th:text="${data['student'].studentid}"/>
                                <td th:text="${data['student'].studentname}"/>
                                <td th:text="${data['major'].majorname}"/>
                                <td th:if="${data['project']} ne null" th:text="${data['project'].projectname}"></td>
                                <td th:unless="${data['project']} ne null">空</td>

                                <td >未完成</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>